on:
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-12
    permissions:
      contents: write
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: 'pypy2.7-v7.3.12'

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - run: |
          brew install wget

          git clone https://github.com/greenheartgames/greenworks greenworks --depth 1 --branch v0.15.0

          wget https://github.com/calendulish/Overlays/raw/c2639077207562550a55f49021c947bc519fc869/dev-util/steamworks-sdk/files/steamworks_sdk_158.zip
          unzip steamworks_sdk_158.zip -d greenworks/deps
          mv greenworks/deps/sdk greenworks/deps/steamworks_sdk

          cd greenworks

          npm install nw-gyp nan

          mkdir -p release/assets/modules/greenworks-nw-0.35

          npx nw-gyp configure --target=0.63.1 --arch=x64
          npx nw-gyp build --target=0.63.1 --arch=x64
          mv lib release/assets/modules/greenworks-nw-0.35/osx

          cd release
          zip -r crosscode-v1.4.2-3-nwjs-v0.63.1-gw-v0.15.0-sw-v1.58-darwin.zip assets


      - uses: actions/upload-artifact@v4
        with:
          path: greenworks/release/crosscode-v1.4.2-3-nwjs-v0.63.1-gw-v0.15.0-sw-v1.58-darwin.zip

